npm install node-red-contrib-iiot-opcua \
    node-red-contrib-modbustcp \
    node-red-contrib-modbus \
    node-red-dashboard \
    node-red-contrib-telegrambot \
    node-red-contrib-bacnet \
    node-red-contrib-timerswitch \
    node-red-contrib-interpolate \
    node-red-contrib-interval-length \
    node-red-contrib-ui-led \
    node-red-node-openweathermap
